  <style>
    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script>
    function initMap() {
      const myLatLng = { lat: 35.66611504149469, lng: 139.7763242422632 };
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: myLatLng,
      });

    const contentString = "<label for='my-modal' class='btn modal-button'>open modal</label>"

      const infowindow = new google.maps.InfoWindow({
          content: contentString,
        });

      const marker = new google.maps.Marker({
        position: myLatLng,
        map,
      });

      marker.addListener("click", () => {
          infowindow.open({
            anchor: marker,
            map,
            shouldFocus: true,
          });
        });

      map.addListener("click", addLatLng);

      function addLatLng(event) {

        //デバッグで値確認するコード-------
        const lat = event.latLng.lat();
        const lng = event.latLng.lng();
        const data = {
          lat,
          lng
        }
        console.log(JSON.stringify(data))
        //-----------------

        document.getElementById('latlng').value = JSON.stringify(data) ;
        
        const newMarker = new google.maps.Marker({
          position: event.latLng,
          map: map,
      });

    const newContentString = "<label for='my-new-modal' class='btn modal-button'>ここにレビューを書く</label>"

      const newInfowindow = new google.maps.InfoWindow({
          content: newContentString,
        });

        newMarker.addListener("click", () => {
            newInfowindow.open({
              anchor: newMarker,
              map,
              shouldFocus: true,
            });
          });
      
    };
  }
  </script>
  <div id="map"></div>

  <input type="checkbox" id="my-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">〇〇注意!</h3>
      <p class="py-4">何かしらの注意点、ポイントを記述するよ!</p>
      <div class="modal-action">
        <label for="my-modal" class="btn">閉じる!</label>
      </div>
    </div>
  </div>

  <input type="checkbox" id="my-new-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">

    <h3 class="font-bold text-lg">レビュー作成</h3>
    <%= form_with model: @post,class:'new_post',local: true do |f|%>
    <turbo-frame id="post_error"></turbo-frame>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title,class:'input input-bordered input-warning w-full' %>
        <%= f.label :body %>
        <%= f.text_area :body,class:'textarea textarea-warning w-full', rows: 5  %>
        <%= f.hidden_field :latlng,class:'input input-bordered input-warning w-full', id: 'latlng' %>
      </div>
      <%= f.submit class:'btn'%>
      <label for="my-new-modal" class="btn">閉じる!</label>
    <%end%> 

    </div>
  </div>

  <!-- 
    The `defer` attribute causes the callback to execute after the full HTML
    document has been parsed. For non-blocking uses, avoiding race conditions,
    and consistent behavior across browsers, consider loading using Promises
    with https://www.npmjs.com/package/@googlemaps/js-api-loader.
  -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap&v=weekly"
    defer
  ></script>