<input type="checkbox" id="my-modal-<%=post.id%>" class="modal-toggle" />
<div class="modal" id="my-modal-<%=post.id%>">
  <div class="modal-box">
    <p class="py-4"><%= post.user.name %></p>
    <h3 class="font-bold text-lg"><%=post.title%></h3>
    <p class="py-4"><%=post.body%></p>
    <% if post.image.attached? %>
      <%= image_tag post.image %>
    <% end %>
    <%= link_to '削除', post_path(post), data: { turbo_method: :delete }, class: 'btn btn-error' %>
    <label for="my-modal-<%=post.id%>" class="btn">閉じる</label>
    <button class="btn btn-warning" id="<%=post.id%>" value="<%=post.latlng%>" onclick="calculateDistance(this.value,this.id)">距離を測る</button>
    <%= link_to 'スタンプを完了する', stamped_post_path(id: post.id),id: "#{post.id}-stamp", class: 'btn btn-success disable' %>
  </div>
</div>