<!DOCTYPE html>
<html>
  <head>
    <title>デリメモ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", media: "all", 'data-turbolinks-track': "reload" %>
    <%= include_gon %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/validate_stamp'%>
    <%= render 'shared/flash_message'%>
    <%= yield %>
  </body>
</html>
